<!-- <p>used with snapshot non obervable version</p>
<p>Welcome {{userName | async}}</p>

<button (click)="registerRajneesh()">Register Rajneesh as a user</button> -->
<!-- <p>used with paramMap observable version</p>
<p>Welcome {{userName | async}}</p> -->

<form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser(userRegistrationForm.value)" class="container">
    <div class="font-weight-bold form-header p-2 text-center">User Registration Form</div>
    <div class="form-body p-4">
        <input class="form-control mb-2" type="text" formControlName="firstName" placeholder="Enter first name" required>
        <input class="form-control mb-2" type="text" formControlName="lastName" placeholder="Enter last name">
        <input class="form-control mb-2" type="email" formControlName="email" placeholder="Enter email id" required>
        <input class="form-control mb-2" type="password" formControlName="password" placeholder="Enter password" required>
    </div>
    <div class="form-footer pl-4 pr-4 text-right">
        <button class="btn btn-warning mr-2" type="reset">Reset</button>
        <button class="btn btn-primary" type="submit" [disabled]="userRegistrationForm.invalid">Submit</button>
    </div>
</form>